* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html{
    font-size: 62,5%;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(230, 230, 230);
}

/* Botón/componentes reutilizables */

.button {
    display: block;
    margin: 20px 10px;
    padding: 30px;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    width: 140px;
    letter-spacing: 1px;
    color: white;
    background-color: #4F8FD7;
    box-shadow: 2px 3px 3px 0 #084285;
    transition: all .2s;
}

.button:hover {
    color: white;
    background-color: #084285;
    box-shadow: 2px 3px 3px 0 #2473cd;
    transform: translateY(-5px);
}

                                            /* HTML INDEX + NAV-BAR + FOOTER */

/*NAVIGATION*/

nav div a img{
    width: 80px;
    height: 80px;
}
nav div a p{
    text-align: center;
}

nav div a {
    font-size: 1.6rem;
}

/* header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 10px 0;
    background: #2473cd;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 #084285;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: all .5s;
}
.nav a:hover {
    color: #032853;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    background: #2473cd;
    border-radius: 50%;
}

.nav-bar {
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: space-between;
}

.nav-bar li {
    padding: 10px;
    color: white;
    font-size: 1.6rem;

} */



/*HERO*/

.hero {
    background: url(../img/hero.jpeg);
    background-size: cover;
    height: 85vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    background-repeat: no-repeat;
    color: white;
    -webkit-box-shadow: -1px 14px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 5px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 5px -6px rgba(0,0,0,0.75);
    }

.hero div {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 300px;
    width: 350px;
    background-color: #08428598;
    padding: 20px;
    letter-spacing: 1px;
    margin: 0 0 30px 20px;
    border-radius: 10%;
    border: 1px solid #084285;
    box-shadow: 0 0 10px 0 #084285;
}

.hero div a:hover {
    background-color: #084285;
}

.hero div h2 {
    margin-bottom: 10px;
}

.hero div a {
    align-self: flex-end;
}

h1 {
    border: 2px solid #08428598;
    background-color: #08428598;
    font-size: 30px;
    text-align: center;
    justify-self: center;
    color: #ffffff;
    margin-top: 30px;
    padding: 15px;
    margin-bottom: 30px;
}

/*PRODUCTOS ESTRELLA*/

.productos-estrella {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
}

.productos-estrella__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items h2 {
    border: 2px solid #08428598;
    background-color: #08428598;
    margin: 40px 0;
    color:#ffffff;
    text-align: center;
}

.productos-estrella__item img {
    align-self: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
}

/* CARDS */

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.cards__item__text {
    margin-bottom: 10px;
    padding: 10px;
}

.cards div a img {
    width: 180px;
    height: 240px;
}

.cards h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cards a {
    text-decoration: none;
    color: #084285;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: white;
    color: #084285;
    transition: all .4s;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
}

.cards__item:hover {
    transform: scale(1.05);
}

.wsp {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.wsp img{
    width: 70px;
}

/*FOOTER*/

.footer {
    margin-top: 100px;
    height: 320px;
    color: white;
    background-color: #032853;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;   
}


.footer-info {
    margin-top: 10px;
    gap: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-info ul h4 {
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-info ul a {
    text-decoration: none;
    color: white;
}

.footer-info ul li {
    padding: 8px;
    list-style: none;
}

.footer-info ul li:hover {
    text-decoration: underline #4F8FD7;
    color: #4F8FD7;
}

.footer-logo {
    width: 40%;
    height: 40%;
    background-color: #032853;
    padding-top: 20px;
}
.social{
    width: 300px;
}
.social div a img {
    margin: 10px 0px;
    padding: 5px;
    width: 30px;
    text-align: center;
}

.social div a{
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    color: white;
}

.social h3 {
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.footer h4 {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 2px;
}


                                            /* HTML PRODUCTOS */

/* CARDS-PRODUCTS */

.products {
    background: url(../img/sea.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-products {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 50px;
    text-align: center;
}

.cards-products h3 {
    background-color: #084285;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px 0 #084285;
}

.cards-products__item {
    transition: all .2s;
    background-color: white;
    width: 250px;
    height: 450px;
    color: #084285;
    box-shadow: 5px 5px 10px 0 #084285;
    border-radius: 5%;
    overflow: hidden;
}

.cards-products__item img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}


.cards-products__item a {
    padding: 20px;
    margin: 10px 60px;
}


.cards-products__item p {
    margin: 10px;
}

.cards-products__item {
    box-shadow: 4px 4px 7px 0 #084285;
}
.cards-products__item:hover{
    transform: scale(1.05);
}

/* BANNER */

.banner{
    display: flex;
    padding: 20px;
    margin: 30px 0;
    width: 100%;
    height: 200px;
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #084285;
    font-size: 2em;
    color: white;
    box-shadow: 5px 5px 10px 0 #084285;
}

.banner h2 {
    letter-spacing: 5px;
    text-align: center;
    align-self: center;
}

                                            /* HTML CONTACTO */                                            



.contact-us {
    background: url(../img/contacto.jpeg);
    background-size: cover;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 17px 8px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 17px 8px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 17px 8px -10px rgba(0,0,0,0.75);
}

.accesibilidad {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.accesibilidad h3 {
    margin: 20px;
}

.info {
    margin: 10px;
    width: 250px;
    height: 250px;
    text-align: center;
    color: white;
    background-color: #084285;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    -webkit-box-shadow: 15px 13px 9px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 13px 9px -7px rgba(0,0,0,0.75);
    box-shadow: 15px 13px 9px -7px rgba(0,0,0,0.75);
}

.info:hover {
    background-color: #032853;
    transform: scale(1.1);
    -webkit-box-shadow: 17px 17px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 17px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 17px 17px 10px -10px rgba(0,0,0,0.75);
}

.accesibilidad div #rrss {
    display: inline-block;
}

.accesibilidad div #rrss img {
    width: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px 5px 5px 5px;
}

.formulario {
    background-color: #084285;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    width: 45%;
    height: 450px;
    -webkit-box-shadow: 19px 18px 7px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 18px 7px -7px rgba(0,0,0,0.75);
    box-shadow: 19px 18px 7px -7px rgba(0,0,0,0.75);
}

.formulario h3 {
    margin-top: 20px;
    letter-spacing: 1.5px;
    text-align: center;
}

.formulario label {
    margin-left: 30px;
} 


.formulario a {
    align-self: flex-end;
    margin: 0 20px 20px 0;
}

.mapa {
    width: 45%;
    -webkit-box-shadow: 19px 18px 7px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 18px 7px -7px rgba(0,0,0,0.75);
    box-shadow: 19px 18px 7px -7px rgba(0,0,0,0.75);
}

                                            /* HTML RECETAS */

.platos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.platos__receta:nth-child(1) {
    background: url(../img/paila-marina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.platos__receta:nth-child(2) {
    background: url(../img/ceviche.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.platos__receta {
    width: 45%;
    height: 850px;
    color: white;
    border-radius: 10%;
    -webkit-box-shadow: 22px 18px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 18px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 22px 18px 12px -4px rgba(0,0,0,0.75);
}

.platos__receta li {
    padding: 2px;
    list-style: none;
    margin: 0 0 15px 15px;
}

.platos__receta li span {
    font-weight: bold;
}

.platos__receta h2, .platos__receta h3 {
    padding-top: 15px;
    text-align: center;
}

.platos__receta p {
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 15px 15px 15px;
    padding: 10px;
}

                                        /* HTML HISTORIA */

.historia1 div img, .historia2 div img, .historia3 div img{
    display: none;
}

.historia1 {
background: url(../img/historia1.jpg);
}

.historia{
background-size: cover;
height: auto;
background-repeat: no-repeat;
color: white;
-webkit-box-shadow: 16px 14px 8px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 14px 8px -5px rgba(0,0,0,0.75);
box-shadow: 16px 14px 8px -5px rgba(0,0,0,0.75);
margin-bottom: 40px;
transition: all .4s;
}
.historia:hover{
    transform: scale(1.03);
}

.historia1 div, .historia2 div, .historia3 div {
    width: 30%;
    background-color: #032853;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 16px 3px 8px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 3px 8px -6px rgba(0,0,0,0.75);
    box-shadow: 16px 3px 8px -6px rgba(0,0,0,0.75);
}

.historia1 h2 , .historia1 p{
    text-align: left;
    margin: 10px 30px 10px 30px;
    line-height: 25px;
}

/* COLABORADORES */

.historia2 {
    background: url(../img/historia2.jpeg);
    }
.historia2 h2 , .historia2 p{
    text-align: right;
    margin: 10px 30px 10px 30px;
    line-height: 25px;
}

/*PROCESO*/

.historia3 {
    background: url(../img/historia3.jpeg);
}
        
.historia3 h2 , .historia3 p{
    text-align: left;
    margin: 10px 30px 10px 30px;
    line-height: 25px;
}

/*------------------------------RESPONSIVE-----------------------------*/

@media screen and (max-width:1030px) {
    /*FOOTER*/
    .footer{
        flex-direction: column;
        height: fit-content;
        text-align: center;
        gap: 0;
    }
    .social h3{
        text-align: center;
    }
    .footer-info{
        gap: 25px;
        width: 100vw;
        justify-content: space-around;
    }
    /*HTML INDEX*/
    .productos-estrella{
        grid-template-columns: repeat(2, 1fr);
        width: 100%
    }
    .productos-estrella__item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px;
        width: 40vw;
        height: 250px;
        padding: 10px;
    }
    .cards{
        width:100%;
        justify-content: space-around;
    }
    .cards__item{
        margin: 20px;
        width: 40%;
        height: 500px;
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    }
    .cards__item:nth-child(1){
        background:linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.438)), url(../img/trabajadores.jpeg);
        background-size: cover;
    }

    .cards__item:nth-child(2){
        background: url(../img/ceviche.jpeg);
        background-size: cover;
    }
    .cards__item__text{
        font-size: 15px;
        margin: 10px;
        color: white;
    }
    .cards__item__div img{
        display: none;
    }
    .cards__item:hover{
        box-shadow: none;
    }

    /*HTML PRODUCTOS*/
    .cards-products{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        row-gap: 60px;
    }
    .banner{
        font-size: 20px;
    }

    /*RECETAS*/
    .platos{
        flex-direction: column;
    }
    .platos__receta{
        width: 90%;
        height: auto;
        margin: 50px;
    }
}

@media screen and (max-width:880px) {
    .contact-us{
        height: 300px;
    }
    .nav-bar{
        padding: 10px;
        align-items: center;
    }
    .nav-bar li{
        padding: 5px;
    }
    .hero{
        width: 100vw;
    }
    .productos-estrella__item{
        width: 300px;
        height: 200px;
        justify-content: space-evenly;
    }
    .cards{
        flex-direction: row;
    }
    .footer{
        margin-top: 50px;
    }
    /*HISTORIA*/
    .historia1 div img, .historia2 div img, .historia3 div img{
        display: block;
    }
    .historia1, .historia2, .historia3{
        background:none;
        flex-direction: column;
    }
    .historia1 div, .historia2 div, .historia3 div{
        width: 100%;
    }
    .historia1 h2, .historia1 p, .historia2 h2, .historia2 p, .historia3 h2, .historia3 p{
        text-align: center;
    }
    .formulario{
        text-align: center;
    }
    .formulario label{
        display: block;
        margin: 0;
    }
}

@media screen and (max-width:690px) {
    .nav{
        flex-direction: column;
        text-align: center;
        height: 240px;
    }
    .hero{
        width:calc(100%-10px);
        height: auto;
        align-items: center;
    }
    .hero div{
        margin: 0 0 10px 0;
    }
    .logo{
        align-self: center;
        margin: 10px 0 0 0;
        width: 150px;
        height: 150px;
    }
    .nav-bar li{
        font-size: 20px;
    }
    .nav-bar li:hover{
        border: none;
        text-decoration: underline;
    }
    .productos-estrella{
        grid-template-columns: 1fr;
    }
    .productos-estrella__item{
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    }
    .productos-estrella__item img{
        display: none;
    }
    .productos-estrella__item:nth-child(1){
        background-image: url(../img/camaron.jpg);
        background-size: cover;
    }
    .productos-estrella__item:nth-child(2){
        background-image: url(../img/ostiones.jpg);
        background-size: cover;
    }
    .productos-estrella__item:nth-child(3){
        background-image: url(../img/reineta.jpg);
        background-size: cover;
    }
    .productos-estrella__item:nth-child(4){
        background-image: url(../img/salmoncongelado.jpg);
        background-size: cover;
    }
    .cards{
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .cards__item{
        width: 70%;
        height: 400px;
        justify-content: space-around;
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    }
    /*HTML PRODUCTOS*/
    .cards-products{
        grid-template-columns: 1fr;
    }
    /*CONTACTO*/
    .info{
        width: 80%;
        height: 180px;
    }
    .accesibilidad {
        flex-direction: column;
        align-items: center;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .mapa{
        width: 80%;
        margin: 20px 0;
    }
    .formulario{
        width: 80%;
    }
}


@media screen and (max-width:480px) {
    /*NAV*/
    .nav{
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        height: 270px;
    }
    .logo{
        align-self: center;
    }
    .nav-bar{
        flex-direction: column;
        font-size: 15px;
    }
    .nav-bar li{
        padding: 3px;
        font-size: 1em;
    }
    .nav-bar li:hover{
        border: none;
        text-decoration: underline;
    }
    /*HERO*/
    .hero {
        background: url(../img/hero.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero div{
        width: 300px;
        align-items: center;
        background-size: cover;
    }
    .productos-estrella__item{
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
    }
    .wsp {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
    
    .wsp img{
        width: 40px;
    }
    /*HTML PRODUCTOS*/
    .cards-products{
        grid-template-columns: 1fr
    }
    .banner{
        font-size: 15px;
    }
    /*FOOTER*/
    .footer{
        flex-direction: column;
        height: fit-content;
        text-align: center;
        gap: 0;
    }
    .footer-info{
        flex-direction: column;
        gap: 50px;
    }
    /*RECETAS*/
    .platos__receta:nth-child(1), .platos__receta:nth-child(2){
        background: #ffffff;
        color:#032853;
        border: 1px solid #032853;
        -webkit-box-shadow: 10px 10px 8px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 8px -5px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 8px -5px rgba(0,0,0,0.75);   
    }
    .platos__receta h2:nth-child(1), .platos__receta h2:nth-child(2)
    {padding-bottom: 10px;}
}