header{
    nav{
        background-color: nth($colores, 3);
        div{
            a{
                img{
                    width: 80px;
                    height: 80px;
                }
            }
            button{
                background-color: nth($colores, 1);
                color: nth($colores, 4);
            }
            div{
                ul{
                    .nav-item{
                        .nav-link{
                            color: nth($colores, 1);
                            font-size: 1.6rem;
                        }
                        ul{
                            background-color: nth($colores, 3);
                            li{
                                a{
                                    color: nth($colores, 1);
                                }
                            }
                        }
                    }
                }
                form{
                    background-color: nth($colores, 3);
                }
            }
        }
    }
}