.recetas{
    .platos{
        @include flex(flex, space-evenly);
        align-items: center;
        .platos__receta{
            width: 45%;
            height: 870px;
            color: nth($colores, 1);
            border-radius: 10%;
            -webkit-box-shadow: 22px 18px 12px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 22px 18px 12px -4px rgba(0,0,0,0.75);
            box-shadow: 22px 18px 12px -4px rgba(0,0,0,0.75);
            h2{
                padding-top: 15px;
                text-align: center;
            }
            ul{
                li{
                    padding: 2px;
                    list-style: none;
                    margin: 0 0 15px 15px;
                    span{
                        font-weight: bold;
                    }
                }
            }
            h3{
                padding-top: 15px;
                text-align: center;
            }
            p{
                letter-spacing: 1px;
                line-height: 30px;
                margin: 0 15px 15px 15px;
                padding: 10px;
            }
        }
    }
}

.platos__receta1{
    background: url(../img/paila-marina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.platos__receta2{
    background: url(../img/ceviche.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}