@media screen and (max-width:1030px) {
    /*FOOTER*/
    .footer{
        flex-direction: column;
        height: fit-content;
        text-align: center;
        gap: 0;
        .social{
            h3{
                text-align: center;
            }
        }
        .footer-info{
            gap: 25px;
            width: 100vw;
            justify-content: space-around;
        }
    }
    /*INDEX*/
    main{
        .items{
            .productos-estrella{
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                .productos-estrella__item{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;
                    width: 40vw;
                    height: 250px;
                    padding: 10px;
                }
            }
        }
        .cards{
            width:100%;
            justify-content: space-around;
            .cards__item{
                &:hover{
                    box-shadow: none;
                }
                margin: 20px;
                width: 40%;
                height: 500px;
                -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                &:nth-child(1){
                    background:linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.438)), url(../img/trabajadores.jpeg);
                    background-size: cover;
                }
                &:nth-child(2){
                    background: url(../img/ceviche.jpeg);
                    background-size: cover;
                }
                a{
                    .cards__item__text{
                        font-size: 15px;
                        margin: 10px;
                        color: white;
                    }
                    .cards__item__div{
                        img{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    /*HISTORIA*/
    .history{
        section{
            height: fit-content;
            }
            div{
                padding: 10px ;
        }
    }
    /*PRODCTOS*/
    main{
        .banner{
            font-size: 20px;
        }
        .cards-products{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            row-gap: 60px;
        }
    }
    /*RECETAS*/
    main{
        .recetas{
            .platos{
                flex-direction: column;
                .platos__receta{
                    width: 90%;
                    height: auto;
                    margin: 50px;
                    h3{
                        margin: 5px;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
    /*CONTACTO*/
    main{
        .container{
            flex-direction: column;
            align-items: center;
            .mapa{
                width: 90%;
            }
            .formulario{
                margin-top: 30px;
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:880px){
    main{
        .hero{
            width: 100vw;
        }
        .items{
            .productos-estrella{
                .productos-estrella__item{
                    width: 300px;
                    height: 200px;
                    justify-content: space-evenly;
                }
            }
        }
        .cards{
            flex-direction: row;
        }
    }
    .footer{
        margin-top: 50px;
    }
    /*HISTORIA*/
    .history{
        .historia{
            background:none;
            flex-direction: column;
            div{
                width: 100%;
                img{
                    display: block;
                }
                h2, p{
                    text-align: center;
                }
            }
        }
    }
    /*CONTACTO*/
    .formulario{
        text-align: center;
        label{
            display: block;
            margin: 0;
        }
    }
}

@media screen and (max-width:690px){
    /*INDEX*/
    main{
        .hero{
            width:calc(100%-10px);
            height: auto;
            align-items: center;
            div{
                margin: 0 0 10px 0;
            }
        }
        .items{
            .productos-estrella{
                grid-template-columns: 1fr;
                .productos-estrella__item{
                        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                    img{
                        display: none;
                    }
                    &:nth-child(1){
                        background-image: url(../img/camaron.jpg);
                        background-size: cover;
                    }
                    &:nth-child(2){
                        background-image: url(../img/ostiones.jpg);
                        background-size: cover;
                    }
                    &:nth-child(3){
                        background-image: url(../img/reineta.jpg);
                        background-size: cover;
                    }
                    &:nth-child(4){
                        background-image: url(../img/salmoncongelado.jpg);
                        background-size: cover;
                    }
                }
        }
        }
        .cards{
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            .cards__item{
                width: 70%;
                height: 400px;
                justify-content: space-around;
                -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
                box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.67);
            }
        }
    }
    /*PRODUCTOS*/
    .cards-products{
        grid-template-columns: 1fr;
    }
    /*CONTACTO*/
    .accesibilidad{
        flex-direction: column;
        align-items: center;
        .info{
            width: 80%;
            height: 180px;
        }
    }
    .container{
        iframe{
            width: 80%;
            margin: 20px 0;
        }
        form{
            width: 80%;
        }
    }
}
@media screen and (max-width:480px){
    main{
        .hero{
            background: url(../img/hero.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            div{
                width: 300px;
                align-items: center;
                background-size: cover;
            }
        }
    }
    .wsp {
        position: fixed;
        right: 20px;
        bottom: 20px;
        img{
            width: 40px;
        }
    }
    /*PRODUCTOS*/
    .products{
        main{
            .banner{
                font-size: 15px;
            }
            .cards-products{
                grid-template-columns: 1fr;
            }
        }
    }
    /*RECETAS*/
    .recetas{
        .platos{
            .platos__receta{
                &:nth-child(1), &:nth-child(2){
                    background: nth($colores, 1);
                    color: nth($colores, 7);
                    border: 1px solid nth($colores, 7);
                    -webkit-box-shadow: 10px 10px 8px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 10px 10px 8px -5px rgba(0,0,0,0.75);
                    box-shadow: 10px 10px 8px -5px rgba(0,0,0,0.75);   
                }
                h2{
                    padding-bottom: 10px;
                }
            }
        }
    }
    /*FOOTER*/
    .footer{
        flex-direction: column;
        height: fit-content;
        text-align: center;
        gap: 0;
        .footer-info{
            flex-direction: column;
            gap: 50px;
        }
    }
}